.parceiros{
    padding-top: 60px;
    padding-bottom: 120px;
}

.parceiros h2{
    margin-bottom: 60px;
    padding-left: 20px;
}

.parceiros ul{
    max-width: 1400px;
    padding: 0 20px;
    display: grid; /* quando quero colunas, uso o grid. o flex ia ficar de acordo com os icons*/
    grid-template-columns: repeat(4, 1fr);
    margin: 0 auto
}

.parceiros li{
    display: flex; /* para que a margin consiga ficar automática*/
    padding: 32px;
    border-left: 2px solid var(--cor-2);
}

.parceiros li:first-child,
.parceiros li:nth-child(5){
    border-left: none;
}

.parceiros li:nth-child(n + 5){ /* n a partir do 5 elemento*/
    border-top: 2px solid var(--cor-2);
}

.parceiros img{
    margin: auto;
}

@media(max-width:800px){
    .parceiros{
        padding-bottom: 60px;
    }
    .parceiros h2{
        padding-bottom: 20px;
    }
    .parceiros li{
        padding: 20px;
    }
    .parceiros ul{
        grid-template-columns: repeat(2, 1fr);
    }
    .parceiros li:nth-child(n + 3){ /* n a partir do 5 elemento*/
        border-top: 2px solid var(--cor-2);
    }
    .parceiros li:nth-child(odd){
        border-left: none;
    }
}